@font-face {
  font-family: "forever";
  src: url("../fonts/forever.otf") format("opentype"),
    url("../fonts/forever.ttf") format("truetype");
}

@font-face {
  font-family: "numbers";
  src: url("../fonts/numbers.ttf") format("truetype");
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 1rem;
  height: 100%;
  color: #fff;
}

video {
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
}

.bg-wrapper {
  background-color: rgba(0, 0, 0, 0.8);
  width: 100%;
  height: 100%;
  position: fixed;
}

.icon-wrapper {
  display: flex;
  padding-bottom: 16px;
  position: relative;
  border-bottom: 2px dashed #fff;
}

.icon-wrapper img {
  margin-right: 8px;
}

.container {
  height: 100%;
  position: relative;
  padding: 16px;
  margin: 0 auto;
}

.container > div {
  flex: 1;
}

.container > div:nth-child(2) {
  flex: 2;
}

h1 {
  font-family: "forever", cursive;
  font-size: 6rem;
}

h2 {
  font-family: "numbers", cursive;
  font-size: 6rem;
}

p {
  font-style: italic;
  margin: 24px 0;
}

@media (min-width: 768px) {
  .container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }

  .container .icon-wrapper {
    flex-basis: 100%;
  }

  .container > div:nth-child(3) p {
    font-size: 1.4rem;
  }
}

@media (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }
}
